@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "space age";
    src: url("./assets/fonts/space age.ttf")
}

@font-face {
    font-family: "Audiowide";
    src: url("./assets/fonts/Audiowide-Regular.ttf")
}
