@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "space age";
  src: url("./assets/fonts/space age.ttf");
}

@font-face {
  font-family: "nunito";
  src: url("./assets/fonts/Nunito-VariableFont_wght.ttf");
}

@font-face {
  font-family: "sanspro";
  src: url("./assets/fonts/SourceSansPro-Light.ttf");
}

@font-face {
  font-family: "Audiowide";
  src: url("./assets/fonts/Audiowide-Regular.ttf");
}

@font-face {
  font-family: "VT323";
  src: url("./assets/fonts/VT323-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

.text-shadow-lg {
  text-shadow: 2px 1px 2px black;
}
